---
layout: layouts/base.njk
textNav:
  aliases: [home, index]
eleventyNavigation:
  key: bio
  title: AJ
---
<article class="bio">
  <p class="big-text">
    Hi! I'm <span class="bio__photo" tabindex="0">Aaron John</span>,and this website is my notes dedicated to my future self and lessons learned in crypto investment.
    <br/><br/>
    Currently, I focus on projects that keep me on a constant state of
    <a href="https://en.wikipedia.org/wiki/Flow_(psychology)" target="_blank" rel="noopener noreferrer">Flow</a>.
    <br/><br/>
    I am passionate about
    <a href="https://github.com/aaronjohn2" target="_blank" rel="noopener noreferrer">coding</a>,
    playing piano, surfing, lifting weights
    and
    <a href="https://soundcloud.app.goo.gl/okdvserNpYpGEytw8" target="_blank" rel="noopener noreferrer">music</a>.
    Here are some <a href="/playlists">playlists</a> to get you going.
    <br/><br/>
    If you'd like to chat, feel free to send me an
    <a href="mailto:aaron2nj@gmail.com">e-mail</a>.
  </p>
</article>
