<footer class="footer" id="footer">
  <ul class="link-list">
    <li>
      <a href="https://aaronjohn2.github.io/" rel="noopener noreferrer" target="_blank">BLOG</a>
    </li>
    <li>
      <a
        href="mailto:aaron2nj@gmail.com"
        rel="noopener noreferrer"
        target="_blank"
      >
        EMAIL
      </a>
    </li>
    <li>
      <a
        href="https://linkedin.com/in/aaronjohn2"
        rel="noopener noreferrer"
        target="_blank"
      >
        LINKEDIN
      </a>
    </li>
  </ul>
  <div class="js-space-trigger"></div>
</footer>
